<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nimish.yesboss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TotalCategoryOrderDetails"></activity>
        <activity android:name=".TotalOrderDetails" />
        <activity android:name=".AllOrderCategoryList" />
        <activity android:name=".CategoryPatternGrid" />
        <activity android:name=".UpdateStoreOrder" />
        <activity android:name=".AdminSendOrder" />
        <activity
            android:name=".AddUserActivity"
            android:parentActivityName=".UserActivity" />
        <activity
            android:name=".AdminOrderReqActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PlacedOrder" />
        <activity
            android:name=".ModifyUserActivity"
            android:parentActivityName=".UserActivity" />
        <activity
            android:name=".UserActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddCategoryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>